# Extract

In [84]:
import pandas as pd
#load the data into a Pandas DataFrame
users = pd.read_csv('users.csv')
orders = pd.read_csv('orders.csv') # load to DataFrame
type(users)

pandas.core.frame.DataFrame

In [88]:
orders.describe

<bound method NDFrame.describe of     order_id  user_id item_name  Item_price
0          1        1   speaker         200
1          2        1     phone         300
2          3        2     spoon           5
3          4        2      fork           5
4          5        2   speaker         110
5          6        3  computer         500
6          7        4     radio         200
7          8        5     table          40
8          9        5     chair          20
9         10        6     table          40
10        11        7     phone         300
11        12        8        TV         500
12        13        8      game          30
13        14       10      desk         100
14        15       10     table          40>

# Transform

In [89]:
orders['Item_priceJD']=orders.Item_price*0.71
users['salaryInJD'] = users.salaryInDollar*0.71
users.describe
orders.describe

<bound method NDFrame.describe of     order_id  user_id item_name  Item_price  Item_priceJD
0          1        1   speaker         200        142.00
1          2        1     phone         300        213.00
2          3        2     spoon           5          3.55
3          4        2      fork           5          3.55
4          5        2   speaker         110         78.10
5          6        3  computer         500        355.00
6          7        4     radio         200        142.00
7          8        5     table          40         28.40
8          9        5     chair          20         14.20
9         10        6     table          40         28.40
10        11        7     phone         300        213.00
11        12        8        TV         500        355.00
12        13        8      game          30         21.30
13        14       10      desk         100         71.00
14        15       10     table          40         28.40>

In [90]:
orders.describe

<bound method NDFrame.describe of     order_id  user_id item_name  Item_price  Item_priceJD
0          1        1   speaker         200        142.00
1          2        1     phone         300        213.00
2          3        2     spoon           5          3.55
3          4        2      fork           5          3.55
4          5        2   speaker         110         78.10
5          6        3  computer         500        355.00
6          7        4     radio         200        142.00
7          8        5     table          40         28.40
8          9        5     chair          20         14.20
9         10        6     table          40         28.40
10        11        7     phone         300        213.00
11        12        8        TV         500        355.00
12        13        8      game          30         21.30
13        14       10      desk         100         71.00
14        15       10     table          40         28.40>

# Load

In [91]:
from pathlib import Path
dbName="dba3"
Path(dbName).touch()
import sqlite3
conn = sqlite3.connect(dbName)
c = conn.cursor()

#write the data to a sqlite table
users.to_sql('users', conn, if_exists='append', index = False)
c.execute('''SELECT * FROM users''').fetchall()

[(1, 'ahmad', 3000, 'Jordan', 2130.0),
 (2, 'ali', 4000, 'Iraq', 2840.0),
 (3, 'yousef', 5000, 'Oman', 3550.0),
 (4, 'hala', 6000, 'Oman', 4260.0),
 (5, 'yaseen', 7000, 'Oman', 4970.0),
 (6, 'sameer', 3500, 'Jordan', 2485.0),
 (7, 'saif', 4600, 'Iraq', 3266.0),
 (8, 'omar', 2300, 'UAE', 1633.0),
 (9, 'nada', 1900, 'UAE', 1349.0),
 (10, 'sanad', 4300, 'UAE', 3053.0)]

In [81]:
c = conn.cursor()
orders.to_sql('orders', conn, if_exists='append', index = False) # write to sqlite table
c.execute('''SELECT * FROM orders''').fetchall()

[(1, 1, 'speaker', 200, 142.0),
 (2, 1, 'phone', 300, 213.0),
 (3, 2, 'spoon', 5, 3.55),
 (4, 2, 'fork', 5, 3.55),
 (5, 2, 'speaker', 110, 78.1),
 (6, 3, 'computer', 500, 355.0),
 (7, 4, 'radio', 200, 142.0),
 (8, 5, 'table', 40, 28.4),
 (9, 5, 'chair', 20, 14.2),
 (10, 6, 'table', 40, 28.4),
 (11, 7, 'phone', 300, 213.0),
 (12, 8, 'TV', 500, 355.0),
 (13, 8, 'game', 30, 21.299999999999997),
 (14, 10, 'desk', 100, 71.0),
 (15, 10, 'table', 40, 28.4),
 (1, 1, 'speaker', 200, 142.0),
 (2, 1, 'phone', 300, 213.0),
 (3, 2, 'spoon', 5, 3.55),
 (4, 2, 'fork', 5, 3.55),
 (5, 2, 'speaker', 110, 78.1),
 (6, 3, 'computer', 500, 355.0),
 (7, 4, 'radio', 200, 142.0),
 (8, 5, 'table', 40, 28.4),
 (9, 5, 'chair', 20, 14.2),
 (10, 6, 'table', 40, 28.4),
 (11, 7, 'phone', 300, 213.0),
 (12, 8, 'TV', 500, 355.0),
 (13, 8, 'game', 30, 21.299999999999997),
 (14, 10, 'desk', 100, 71.0),
 (15, 10, 'table', 40, 28.4)]

In [82]:
c.execute('''SELECT * FROM users u LEFT JOIN orders o ON u.user_id = o.user_id''')
c.fetchall()

[(1, 'ahmad', 3000, 'Jordan', 2130.0, 1, 1, 'speaker', 200, 142.0),
 (1, 'ahmad', 3000, 'Jordan', 2130.0, 1, 1, 'speaker', 200, 142.0),
 (1, 'ahmad', 3000, 'Jordan', 2130.0, 2, 1, 'phone', 300, 213.0),
 (1, 'ahmad', 3000, 'Jordan', 2130.0, 2, 1, 'phone', 300, 213.0),
 (2, 'ali', 4000, 'Iraq', 2840.0, 3, 2, 'spoon', 5, 3.55),
 (2, 'ali', 4000, 'Iraq', 2840.0, 3, 2, 'spoon', 5, 3.55),
 (2, 'ali', 4000, 'Iraq', 2840.0, 4, 2, 'fork', 5, 3.55),
 (2, 'ali', 4000, 'Iraq', 2840.0, 4, 2, 'fork', 5, 3.55),
 (2, 'ali', 4000, 'Iraq', 2840.0, 5, 2, 'speaker', 110, 78.1),
 (2, 'ali', 4000, 'Iraq', 2840.0, 5, 2, 'speaker', 110, 78.1),
 (3, 'yousef', 5000, 'Oman', 3550.0, 6, 3, 'computer', 500, 355.0),
 (3, 'yousef', 5000, 'Oman', 3550.0, 6, 3, 'computer', 500, 355.0),
 (4, 'hala', 6000, 'Oman', 4260.0, 7, 4, 'radio', 200, 142.0),
 (4, 'hala', 6000, 'Oman', 4260.0, 7, 4, 'radio', 200, 142.0),
 (5, 'yaseen', 7000, 'Oman', 4970.0, 8, 5, 'table', 40, 28.4),
 (5, 'yaseen', 7000, 'Oman', 4970.0, 8, 5, 'table', 40, 28.4),
 (5, 'yaseen', 7000, 'Oman', 4970.0, 9, 5, 'chair', 20, 14.2),
 (5, 'yaseen', 7000, 'Oman', 4970.0, 9, 5, 'chair', 20, 14.2),
 (6, 'sameer', 3500, 'Jordan', 2485.0, 10, 6, 'table', 40, 28.4),
 (6, 'sameer', 3500, 'Jordan', 2485.0, 10, 6, 'table', 40, 28.4),
 (7, 'saif', 4600, 'Iraq', 3266.0, 11, 7, 'phone', 300, 213.0),
 (7, 'saif', 4600, 'Iraq', 3266.0, 11, 7, 'phone', 300, 213.0),
 (8, 'omar', 2300, 'UAE', 1633.0, 12, 8, 'TV', 500, 355.0),
 (8, 'omar', 2300, 'UAE', 1633.0, 12, 8, 'TV', 500, 355.0),
 (8, 'omar', 2300, 'UAE', 1633.0, 13, 8, 'game', 30, 21.299999999999997),
 (8, 'omar', 2300, 'UAE', 1633.0, 13, 8, 'game', 30, 21.299999999999997),
 (9, 'nada', 1900, 'UAE', 1349.0, None, None, None, None, None),
 (10, 'sanad', 4300, 'UAE', 3053.0, 14, 10, 'desk', 100, 71.0),
 (10, 'sanad', 4300, 'UAE', 3053.0, 14, 10, 'desk', 100, 71.0),
 (10, 'sanad', 4300, 'UAE', 3053.0, 15, 10, 'table', 40, 28.4),
 (10, 'sanad', 4300, 'UAE', 3053.0, 15, 10, 'table', 40, 28.4)]

In [83]:
orders

    order_id  user_id item_name  Item_price  Item_priceJD
0          1        1   speaker         200        142.00
1          2        1     phone         300        213.00
2          3        2     spoon           5          3.55
3          4        2      fork           5          3.55
4          5        2   speaker         110         78.10
5          6        3  computer         500        355.00
6          7        4     radio         200        142.00
7          8        5     table          40         28.40
8          9        5     chair          20         14.20
9         10        6     table          40         28.40
10        11        7     phone         300        213.00
11        12        8        TV         500        355.00
12        13        8      game          30         21.30
13        14       10      desk         100         71.00
14        15       10     table          40         28.40